@use './variables' as *;

@mixin set-text($size: 1em, $color: black, $font: $fonts-body) {
    font-family: $font;
    font-size: $size;
    color: $color;
  }

h1, h2, h3, h4 {
    font-family: $font-headline;
}

h3 {
    font-weight: 200;
}


p {
    font-family: $font-body;
}

a {
    width: 100%;
    height: 100%;
    color: black;
    transition: 0.25s;
    padding: 0.5rem;
    text-decoration: none;
    border: 4px solid $accent2;
}

a:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: $accent2;
    text-decoration: none;
}
