@import url('https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap');


$font-body: 'Lato', sans-serif;
$font-headline: 'Staatliches', cursive;

$black: #0000;
$white: #ffff;
$neutral: #8F754F;
$accent1: #7EBDC2;
$accent2: #FF934F;